body {
  font-family: sans-serif;
}

body nav {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
}

body nav li {
  padding: 0 10px;
}

body nav li a {
  color: #fff !important;
  font-weight: 600;
}

body nav .fa-bars {
  color: #fff;
  font-size: 30px !important;
}

body nav .navbar-toggler {
  border: none !important;
}

body nav .navbar-toggler:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

body .navbar {
  background-image: -webkit-gradient(linear, left top, right top, from(#a517ba), to(#5f1782));
  background-image: linear-gradient(to right, #a517ba, #5f1782);
}

body .firstSection {
  background-image: -webkit-gradient(linear, left top, right top, from(#a517ba), to(#5f1782));
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  color: #fff;
  padding-top: 5%;
}

body .firstSection .col-lg-6:first-child h1 {
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
}

@media screen and (max-width: 700px) {
  body .firstSection .col-lg-6:first-child h1 {
    font-size: 30px;
    margin-top: 40px;
  }
}

body .firstSection .col-lg-6:first-child p {
  line-height: 30px;
  font-size: 19px;
}

body .firstSection .col-lg-6:first-child img {
  width: 45px;
  margin: 20px;
}

body .firstSection .col-lg-6:first-child a {
  text-decoration: none;
  color: #fff;
  font-size: 19px;
}

body .secondSection {
  margin-bottom: 60px;
}

body .secondSection h2 {
  text-align: center;
}

body .secondSection h2::before {
  content: "";
  background-color: #7b1798;
  width: 160px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  -webkit-transform: translateY(57px);
          transform: translateY(57px);
}

body .secondSection h2::after {
  content: "";
  background-color: #7b1798;
  width: 50px;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

@media screen and (min-width: 531px) {
  body .secondSection h2::after {
    -webkit-transform: translateY(19px);
            transform: translateY(19px);
  }
}

@media screen and (min-width: 669px) {
  body .secondSection h2::after {
    -webkit-transform: translateY(16px);
            transform: translateY(16px);
  }
}

@media screen and (min-width: 918px) {
  body .secondSection h2::after {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

@media screen and (min-width: 1011px) {
  body .secondSection h2::after {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
}

body .secondSection img {
  width: 100px;
  margin-top: 20px;
}

body .secondSection h4 {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}

body .secondSection p {
  line-height: 30px;
  font-size: 19px;
}

body .secondSection .btn {
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#a517ba), to(#5f1782));
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  padding: 8px 35px;
  color: #fff;
  font-size: 18px;
}

body .thirdSection {
  background-color: #f8f9fa;
  padding-top: 30px;
  padding-bottom: 30px;
}

body .thirdSection h2 {
  text-align: center;
}

body .thirdSection h2::before {
  content: "";
  background-color: #7b1798;
  width: 160px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  -webkit-transform: translateY(57px);
          transform: translateY(57px);
}

body .thirdSection h2::after {
  content: "";
  background-color: #7b1798;
  width: 50px;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

@media screen and (min-width: 531px) {
  body .thirdSection h2::after {
    -webkit-transform: translateY(19px);
            transform: translateY(19px);
  }
}

@media screen and (min-width: 669px) {
  body .thirdSection h2::after {
    -webkit-transform: translateY(16px);
            transform: translateY(16px);
  }
}

@media screen and (min-width: 918px) {
  body .thirdSection h2::after {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

@media screen and (min-width: 1011px) {
  body .thirdSection h2::after {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
}

body .thirdSection h3 {
  font-size: 33px;
  margin-top: 8%;
}

body .thirdSection li {
  font-size: 19px;
  list-style-type: circle;
  margin: 10px 0;
}

body .testimonials {
  margin: 100px 0;
}

body .testimonials h2 {
  text-align: center;
}

body .testimonials h2::before {
  content: "";
  background-color: #7b1798;
  width: 160px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  -webkit-transform: translateY(57px);
          transform: translateY(57px);
}

body .testimonials h2::after {
  content: "";
  background-color: #7b1798;
  width: 50px;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

@media screen and (min-width: 531px) {
  body .testimonials h2::after {
    -webkit-transform: translateY(19px);
            transform: translateY(19px);
  }
}

@media screen and (min-width: 669px) {
  body .testimonials h2::after {
    -webkit-transform: translateY(16px);
            transform: translateY(16px);
  }
}

@media screen and (min-width: 918px) {
  body .testimonials h2::after {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

@media screen and (min-width: 1011px) {
  body .testimonials h2::after {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
}

body .testimonials .col-lg-5 {
  border-left: 4px solid #7b1798;
}

body .testimonials .col-lg-5 p {
  font-size: 19px;
}

body .testimonials .col-lg-5 .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .testimonials .col-lg-5 .details img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 35px 0 10px;
}

@media screen and (max-width: 991px) {
  body .testimonials .col-lg-5:nth-child(2) {
    margin-top: 60px;
  }
}

body .media {
  background-color: #f8f9fa;
  padding: 100px 0;
}

body .media h2 {
  text-transform: uppercase;
  margin-bottom: 40px;
}

body .media h2 + div img {
  width: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .media a:hover img {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

body footer {
  background-image: -webkit-gradient(linear, left top, right top, from(#a517ba), to(#5f1782));
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  color: #fff;
}

body footer p {
  line-height: 30px;
  font-size: 17.4px;
}

body footer .col-lg-4:first-child img {
  width: 120px;
}

body footer .fa {
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 2px;
  padding-top: 7px;
  background-image: -webkit-gradient(linear, left top, right top, from(#a517ba), to(#5f1782));
  background-image: linear-gradient(to right, #a517ba, #5f1782);
}

body footer .form-control {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-radius: 0;
  border: none;
  max-width: 250px;
  margin-top: 25px;
}

body footer .btn {
  background-image: -webkit-gradient(linear, left top, right top, from(#a517ba), to(#5f1782));
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  margin-top: 30px;
  border: none;
}

body footer hr + p {
  margin-bottom: 0;
  padding-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */