body {
  font-family: sans-serif;
  nav {
    position: sticky;
    z-index: 10;
    top: 0;
    li {
      padding: 0 10px;

      a {
        color: #fff !important;
        font-weight: 600;
      }
    }
    .fa-bars {
      color: #fff;
      font-size: 30px !important;
    }
    .navbar-toggler {
      border: none !important;
      &:focus {
        box-shadow: none !important;
      }
    }
  }
  .navbar {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
  }
  .firstSection {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
    padding-top: 5%;
    .col-lg-6:first-child {
      h1 {
        font-size: 40px;
        font-weight: 600;
        margin-top: 100px;
        @media screen and (max-width: 700px) {
          font-size: 30px;
          margin-top: 40px;
        }
      }
      p {
        line-height: 30px;
        font-size: 19px;
      }
      img {
        width: 45px;
        margin: 20px;
      }
      a {
        text-decoration: none;
        color: #fff;
        font-size: 19px;
      }
    }
  }
  #secondSection {
    margin-bottom: 60px;
    h2 {
      text-align: center;
    }
    h2::before {
      content: "";
      background-color: #7b1798;
      width: 160px;
      height: 5px;
      margin: {
        left: auto;
        right: auto;
      }
      display: block;
      transform: translateY(57px);
    }
    h2::after {
      content: "";
      background-color: #7b1798;
      width: 50px;
      height: 10px;
      margin: {
        left: auto;
        right: auto;
      }
      margin-bottom: 40px;
      display: block;
      transform: translateY(20px);
      @media screen and (min-width: 531px) {
        transform: translateY(19px);
      }
      @media screen and (min-width: 669px) {
        transform: translateY(16px);
      }
      @media screen and (min-width: 918px) {
        transform: translateY(15px);
      }
      @media screen and (min-width: 1011px) {
        transform: translateY(12px);
      }
    }
    img {
      width: 100px;
      margin-top: 20px;
    }
    h4 {
      text-transform: uppercase;
      margin: {
        top: 20px;
        bottom: 10px;
      }
    }
    p {
      line-height: 30px;
      font-size: 19px;
    }
    .btn {
      border-radius: 20px;
      background-image: linear-gradient(to right, #a517ba, #5f1782);
      padding: 8px 35px;
      color: #fff;
      font-size: 18px;
    }
  }
  #thirdSection {
    background-color: #f8f9fa;
    padding: {
      top: 30px;
      bottom: 30px;
    }
    h2 {
      text-align: center;
    }
    h2::before {
      content: "";
      background-color: #7b1798;
      width: 160px;
      height: 5px;
      margin: {
        left: auto;
        right: auto;
      }
      display: block;
      transform: translateY(57px);
    }
    h2::after {
      content: "";
      background-color: #7b1798;
      width: 50px;
      height: 10px;
      margin: {
        left: auto;
        right: auto;
      }
      margin-bottom: 40px;
      display: block;
      transform: translateY(20px);
      @media screen and (min-width: 531px) {
        transform: translateY(19px);
      }
      @media screen and (min-width: 669px) {
        transform: translateY(16px);
      }
      @media screen and (min-width: 918px) {
        transform: translateY(15px);
      }
      @media screen and (min-width: 1011px) {
        transform: translateY(12px);
      }
    }
    h3 {
      font-size: 33px;

      margin-top: 8%;
    }
    li {
      font-size: 19px;
      list-style-type: circle;
      margin: 10px 0;
    }
  }
  #testimonials {
    margin: 100px 0;
    h2 {
      text-align: center;
    }
    h2::before {
      content: "";
      background-color: #7b1798;
      width: 160px;
      height: 5px;
      margin: {
        left: auto;
        right: auto;
      }
      display: block;
      transform: translateY(57px);
    }
    h2::after {
      content: "";
      background-color: #7b1798;
      width: 50px;
      height: 10px;
      margin: {
        left: auto;
        right: auto;
      }
      margin-bottom: 40px;
      display: block;
      transform: translateY(20px);
      @media screen and (min-width: 531px) {
        transform: translateY(19px);
      }
      @media screen and (min-width: 669px) {
        transform: translateY(16px);
      }
      @media screen and (min-width: 918px) {
        transform: translateY(15px);
      }
      @media screen and (min-width: 1011px) {
        transform: translateY(12px);
      }
    }
    .col-lg-5 {
      border-left: 4px solid #7b1798;
      p {
        font-size: 19px;
      }

      .details {
        display: flex;
        align-items: center;
        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          margin: 0 35px 0 10px;
        }
      }
    }
    .col-lg-5:nth-child(2) {
      @media screen and (max-width: 991px) {
        margin-top: 60px;
      
      }
    }
  }
  .media{
    background-color: #f8f9fa;
    padding: 100px 0;
    h2{
      text-transform: uppercase;
  
      margin-bottom: 40px;
      & + div{
        img{
          width: 60px;
          transition: 0.5s;
        }
      }
    }
    a:hover img{
      transform: translateY(-10px);
    }
  }
  footer{
     background-image: linear-gradient(to right, #a517ba, #5f1782);
     color: #fff;
    
     p{
           line-height: 30px;
    font-size: 17.4px;
     }
     .col-lg-4:first-child{
       img{
         width: 120px;
       }
     }
     .fa{
       margin-right: 8px;
       font-size: 25px;
       height: 40px;
       width: 40px;
       text-align: center;
       border-radius: 2px;
       padding-top: 7px;
        background-image: linear-gradient(to right, #a517ba, #5f1782);
     }
     .form-control{
       box-shadow: none !important;
       border-radius: 0;
       border: none;
       max-width: 250px;
       margin-top: 25px;
     }
     .btn{
       
           background-image: linear-gradient(to right, #a517ba, #5f1782);
           margin-top: 30px;
          border: none;

     }
    
     hr + p{
       margin-bottom: 0;
       padding-bottom: 20px;
     }

  }
}
